.fancy-header {
    color: purple;
    text-align: center;
}
h2 {
    color: saddlebrown;
    text-decoration: underline;
}

body {
    background-color: black;
    background-image: url("https://www.fg-a.com/wallpapers/2018-white-texture-background-image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

ol {
    list-style: upper-roman;
}

ul {
    list-style: square;
}

body {
    font-style: italic;
}

td {
    font-size: 25px;
    padding: 25px;
}

a {
    color: crimson;
}
