/* By element */

body, html {
    margin: 0;
    padding: 0;
}

body {
    background: #7bc6f4;
    min-height: 100vh;
    padding: 0;
}

/* By class */

.day {
    box-shadow: 0 0 16px 4px navy;
}

.date {
    font-size: 12px;
    padding: 4px 0;
}

.description {
    font-size: 12px;
}

.humidity, .pressure, .wind {
    font-size: 12px;
}

.card-body {
    padding: 10px;

}

.fa-cloud {
    font-size: 28px;
    text-shadow: 2px 2px 4px gray;
}

.card-header {
    box-shadow: 0 4px 4px gray;
}

/* By ID */

#brand {
    font-size: min(10vw, 28px);
    font-family: 'Caveat', cursive;
    padding: 0;
}

#citySubmit{
    background-color: #0067c3;
    color: floralwhite;
}

#citySubmit:hover {
    background-color: #053c6e;
}

#citySubmit:active {
    background-color: #032e58;
    color: gray;
}

#main-header {
    background-color: dodgerblue;
    color: floralwhite;
    height: 60px;
    margin: 0;
    padding: 0;
    position: fixed;
    box-shadow: 0 15px 15px black;
    top: 0;
    z-index: 3;
}

#mapBox {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 25px;
}

#map {
    width: 75vw;
    height: 50vh;
    box-shadow: 2px 2px 10px 4px darkslategray;
}

#city {
    font-size: min(3.5vw, 16px);
    font-family: 'Grandstander', cursive;
    text-shadow: 2px 2px 6px black;
}

#cityInput, #citySubmit {
    box-shadow: 2px 2px 2px darkslategray;
}

#forecast {
    margin-left: 5%;
    margin-right: 5%;
}

.temperature {
    font-size: min(8vw, 24px);

}

.temperature, .description, .icon {
    padding: 0;
}

.humidity, .pressure, .wind {
    font-size: min(4vw, 12px);
}

#alt-temp {
    font-size: 7vw;
}

#alt-description {
    font-size: 3.5vw;
}

#alt-icon {
    height: 13vw;
}

.xs-data {
    font-size: 3.5vw;
}